common --registry=https://raw.githubusercontent.com/snailbaron/registry/main
common --registry=https://bcr.bazel.build

common --compilation_mode=dbg

common --cxxopt=-std=c++26 --host_cxxopt=-std=c++26
common --copt=-fdiagnostics-color --host_copt=-fdiagnostics-color

common --per_file_copt=//src/.*@-Wall,-Wextra,-Wpedantic
common --per_file_copt=//src/.*@-Werror

common --per_file_copt=//src/packer:pack.cpp@-Wno-deprecated-declarations

common:release --compilation_mode=opt
