# yaml-language-server: $schema=https://www.schemastore.org/clang-tidy.json
---
Checks:
  - bugprone-*
  - cert-*
  - clang-analyzer-*
  - concurrency-*
  - cppcoreguidelines-*
  - hicpp-*
  - misc-*
  - modernize-*
  - performance-*
  - portability-*
  - readability-*
  - -cppcoreguidelines-pro-type-vararg
  - -hicpp-deprecated-headers
  - -hicpp-vararg
  - -modernize-deprecated-headers
  - -modernize-use-trailing-return-type
  - -readability-identifier-length
CheckOptions:
  readability-identifier-naming.ClassCase: CamelCase
  readability-identifier-naming.FunctionCase: camelBack
  readability-identifier-naming.MemberCase: camelBack
  readability-identifier-naming.PrivateMemberPrefix: _
  readability-identifier-naming.ProtectedMemberPrefix: _
  readability-identifier-naming.VariableCase: camelBack
