watch_file bazel-out/bazel_env-opt/bin/env/bin
PATH_add bazel-out/bazel_env-opt/bin/env/bin
if [[ ! -d bazel-out/bazel_env-opt/bin/env/bin ]]; then
  log_error "ERROR[bazel_env.bzl]: Run 'bazel run //:env' to regenerate bazel-out/bazel_env-opt/bin/env/bin"
fi
